body {
    font-family: 'Montserrat', sans-serif;
    background:#06082d;
    color: #faefe2;
    height:100%;
    /*background: linear-gradient(90deg, #06082d 20px, transparent 1%) center, linear-gradient(#06082d 20px, transparent 1%) center, #2f2f54;
    background-size: 22px 22px;*/

}

.navigazione {
    height: 60px;
    width: 100%;
    color: white;
    background-color: transparent;
    position: fixed;
    align-items: center;
    z-index: 10;
  }

.container5 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #06082d;

}

/*
.background__lights {
  position: fixed;
}

svg {
  position: absolute;
  height: 100%;
}
.lines {
  opacity: 0.05;
}
.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4C3A90;
}
.lights {
  opacity: 0.9;
}
.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7A6BB5;
}
*/
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 220px;
  margin-left:-110px;
  margin-top: -20px;
  color:#000;
  font-family:sans-serif;
  font-size:16px;
  letter-spacing:-.5px;
}

/* HEADER */

#header {
    padding: 0.4em 0em;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.container {
    opacity: 0.9;
}


.logo img {
        width: 100px;
        height: 13px;
        margin-top: 30px;
    margin-left: 3%;
    display: inline-block;
    float: left;
}
/*
#nav {
    text-align: right;

}
#nav ul {
    list-style-type: none;
    margin-top: 1.5em;
    z-index: 4;
}
#nav ul li {
    display: inline-block;
    margin-left: 2em;
}
#nav ul li a {
    font-weight: 400;
    color: white;
}

#nav ul li a: hover {
    text-decoration: none;
    font-weight: 600;
    }

.slicknav_menu {
    display: none;
}
*/
/*
.button {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #df595a;
  display: inline-block;
  border-radius: 7px;
  color: #fff ! important; 
  width: 200px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
    margin-top: -30%;
    margin-right: 0%;
    display: inline-block;
    float: right;
}

.button:hover {
  background-color: #df595a;
  text-transform: uppercase;
  border: 0px solid #df595a;
  display: inline-block;
  border-radius: 7px;
  color: #fff !important;
  width: 200px;
  height: 40px;
  cursor: pointer;
    text-decoration: none;

}

.button:visited,
.button:focus,
.button:active {
  background-color: #df595a;
  text-transform: uppercase;
  border: 0px solid #7f7fdd;
  display: inline-block;
  border-radius: 7px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;
    text-decoration: none;
}

.testobottone {
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
}  
*/

@media only screen 
and (min-width : 1224px) {
.logo img {
        width: 100px;
        height: 13px;
        margin-top: 120px;
    margin-left: 250%;
    display: inline-block;
    float: left;
}

}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    #nav ul {
        margin-top: 1em;
    }


}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #nav ul {
        margin-top: 0.2em;
        margin-bottom: 0;
    }
}

/* gestione del menu per mobile */

@media screen and (max-width: 768px) {
    #nav ul {
        display: none;
    }
    
    

    .slicknav_open {

    }

    .slicknav_btn {
    
    }

    .slicknav_menu {
        display: block;
        background-color: #05051f;
        height: 0px;
    }

    .slicknav_brand span {
        display: none;
    }
    .slicknav_brand img {
        width: 100px;
        height: 13px;
    }
    .slicknav_nav a {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav  {
        padding: 12px 10px;
        margin: 2px 5px;
    }
/*
.btn {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #df595a;
  display: inline-block;
  border-radius: 7px;
  color: white ! important; 
  width: 200px;
  height: 40px;
  cursor: pointer;
} 

.btn:hover {
  background-color: #df595a;
  text-transform: uppercase;
  border: 1px solid #081047;
  display: inline-block;
  border-radius: 7px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;

}

.btn:visited,
.btn:focus,
.btn:active {
  background-color: #7f7fdd;
  text-transform: uppercase;
  border: 1px solid #7f7fdd;
  display: inline-block;
  border-radius: 7px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;
} 
*/

}

/* SLIDER */

#home {
    overflow: hidden;


}

.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;


}

#slider{
    background:url(../img/Video_Background_Landingpage.mp4) #000 no-repeat center center fixed; 
-webkit-background-size: cover;
 background-size: cover; 
 background-position: relative;
 }

.slider-item#slide-1 {
    background:url(../img/Video_Background_Landingpage.mp4) #000 no-repeat center center fixed; 
-webkit-background-size: cover;
 background-size: cover; 
 background-position: relative;

}

  position: fixed;

.slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    background-color: rgba(0,0,0,0.35);

}
.slider-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    top: 40%;
    position: relative;
    z-index: 20;
    max-width: 768px;
    margin: 0 auto;

}
.slider-content h2 {
    font-size: 2.2em;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 105%;
    color: #df595a;
}

.slider-content p {
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
}

.scroll-down a {
    position: absolute;
    top: 200%;
    left: 50%;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
  width: 25px;
  height: 25px;
  border-bottom: 2.5px solid #ff6e75;
  border-right: 2.5px solid #ff6e75;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 1s ease-in-out infinite;
    -moz-animation:    fade_move_down 1s ease-in-out infinite;
    animation:         fade_move_down 1s ease-in-out infinite;
}



/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.slider-content a.btn:hover {
    background: #fff;
    color: #333;
}
@media screen and (max-width: 768px) {
    .slider-content {
        top: 22%;
        padding: 0 2em;
        text-align: center;
    }
    .slider-content h2 {
        font-weight: 700;
        font-size: 1.7em;
        letter-spacing: -1px;
        line-height: 95%;
    }

    .slider-content p {
        font-weight: 100;
        font-size: 0.7em;
        line-height: 95%;
    }

}


/* SECTIONS */

.section {
    padding: 1em 0 3em 0;
    position: center;
}

.section1 {
    padding: 1em 0 3em 0;
    position: center;
}

/* SECTION HEADINGS */

.section-video {
    text-align: center;
    position: center
    margin: 0 0 2em 0;
    color: #faefe2;
}

.section-video p {
    letter-spacing: 2px;
    padding-bottom: 40px;
}

.section-heading {
    text-align: center;
    margin: 0 0 2em 0;
    color: #faefe2;
  }

.section-heading h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    border-bottom: 2px solid #df595a;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #ff6e75;
}

.section-heading p {
    letter-spacing: 2px;
    padding-bottom: 40px;
    font-weight: medium;
    margin-top: 10px;
}

.section-heading video {
    width: 300%;
    border: 3px solid #7f7fdd;
    border-radius: 10px;
    position: center;
}

/* FEATURES */

.feature {
    text-align: center;
    margin-bottom: 2em;
    margin-left: 38px;
    margin-right: 38px;
}
.feature video {
    width: 300%; 
    border: 2px solid #7f7fdd;
    object-position:center;
    position: center;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    .feature {
    margin-left: 1px;
    margin-right: 1px;
    }

    .feature video {
        width: 100%;
    }

.feature h4 {
    font-weight: bold;
    margin: 1em 0 0.7em 0;
    border-bottom: 1px dashed #aaa;
    display: inline-block;
    padding: 0 2em 0.7em 2em;
    font-size: 20px;
    text-transform: uppercase;
}
.feature p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
    color: #fff;
}
.feature a.btn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9em;
}

/* TEAM */

#team-carousel {
    margin-top: 1em;
}
.person {
    text-align: center;
    padding: 1em;
}
.person h4 {
    font-weight: bold;
    margin-top: 1em;
    font-size: 12px;
    color: #fff;
}
.person p {
    text-transform: uppercase;
    font-size: 10px;
}

/* FORM */

.btn {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #df595a;
  display: inline-block;
  border-radius: 7px;
  color: white ! important; 
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: #df595a;
  text-transform: uppercase;
  border: 1px solid #081047;
  display: inline-block;
  border-radius: 7px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;

}

.btn:visited,
.btn:focus,
.btn:active {
  background-color: #7f7fdd;
  text-transform: uppercase;
  border: 1px solid #7f7fdd;
  display: inline-block;
  border-radius: 7px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;
}



/* FORM */

.form-wrapper {
    max-width: 768px;
    margin: 0 auto;
}
.form-wrapper form {
  width: 100%
}
.form-wrapper input[type="text"],
textarea {
    width: 100%;
    border: 2px solid #ccc;
    padding: 1em;
}
.form-wrapper input[type="submit"].btn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9em;
    float: right;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #000;
}

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #000;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    background-image:url(img/cartello1.png) }

/* FOOTER */
.footer-copyright {
    font-size: 8px;
    color: #faefe2;

}

#footer {
    background: #05051f;
    height: 2%;
    width: 100%;
}

#footer {
    list-style-type: none;
    padding: 0;

}

#footer  a {
    color: #000;

}
#footer  a:hover {
    color: #faefe2;
}

#footer  a i.fa-inverse {
}

#logo {
  height: 20px;
  width: 60px;
}





